.u-section-1 .u-sheet-1 {
  min-height: 409px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 179px;
  margin: 26px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Arvo;
  font-weight: 700;
  margin: 65px -22px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: -41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 106px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 779px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-family: Arvo;
  margin: 60px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  font-family: Arvo;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  font-family: Arvo;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  font-weight: 700;
  font-family: Arvo;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-4 {
  font-weight: 700;
  font-family: Arvo;
  padding: 20px 30px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-accordion-link-5 {
  font-weight: 700;
  font-family: Arvo;
  padding: 20px 30px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-accordion-1 {
    width: 340px;
  }
}