.u-section-1 .u-sheet-1 {
  min-height: 85px;
}

.u-section-1 .u-text-1 {
  font-family: Arvo;
  font-weight: 700;
  width: 614px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 376px;
}

.u-section-2 .u-group-1 {
  width: 926px;
  min-height: 236px;
  height: auto;
  margin: 32px auto 0;
}

.u-section-2 .u-image-1 {
  width: 236px;
  height: 236px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-2 {
  width: 236px;
}

.u-section-2 .u-image-3 {
  width: 236px;
  left: auto;
  right: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  font-family: Arvo;
  background-image: none;
  margin: 32px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: none;
    padding: 8px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 227px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  font-family: Arvo;
  background-image: none;
  margin: 36px auto 0;
}

.u-section-3 .u-group-1 {
  width: 672px;
  min-height: 49px;
  margin: 38px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 159px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Arvo;
  margin: 30px auto 0 26px;
}

.u-section-4 .u-form-1 {
  height: 77px;
  margin: 11px 559px 16px 11px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  font-family: Arvo;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
    padding: 8px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    margin-right: 0;
  }
}